@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html{
    scroll-behavior: smooth;
}

:root{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Kaisei HarunoUmi', serif;*/
    font-family: 'Cabin', sans-serif;
}

body{
    position: relative;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    max-width: 80%;
    margin: 0 auto;
}

.title{
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(37, 37, 37);
}

.header{
    border-radius: 12px;
    margin-bottom: 60px;
    height: 80vh;
    background: url("header.png") no-repeat center/cover;
    position: relative;
}

.header-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-info h2{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.search{
    background: rgba(255, 255, 255, 0.651);
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 700px;
    padding: 20px;
    min-width: 300px;
    margin-top: 14px;
    border-radius: 12px;
}


.search i{
    margin-right: 40px;
    width: 20px;
   font-size: 20px;
}

.search input{
    border: none;
    width: 100%;
    background: transparent;
    outline: none;
  
    
}

.search input::placeholder{
    color: rgb(39, 39, 39);
   font-size: 26px;
}



section{
    margin-bottom: 50px;
}


/*categories*/
.categories-grid{
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 50px;
    transition: transform 0.5s;
    cursor: pointer;
}


.category-item{
    max-width: 100%;
    background: rgb(245, 122, 41);
    border-radius: 12px;
    position: relative;
    transition: all 0.5s;

}


.category-item:hover{
    transform: translateY(-10px);
}


.category-item img{
    border-radius: 12px 12px 0px 0px; 
    max-width: 100%;
}

.category-name{
    position: absolute;
    bottom: -20px;
    left: 0px;
    width: 100%;
    text-transform: capitalize;
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
    background: rgb(238, 115, 33);
    border-radius: 0px 0px 12px 12px;
}





.trending-grid, .category-recipe-grid{
    max-width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
    row-gap: 1.5em;
    padding: 0;
    justify-content: center;
}


.recipe-item{
    max-width: 100%;
    display: grid;
    grid-template-columns: 160px auto;
    color: rgb(34, 24, 24);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgb(204, 204, 204);
   /*background: rgb(49, 35, 35);*/
    cursor: pointer;
    transition: transform 0.5s, border 0.3s;
    background: rgb(255, 250, 244);
}

.recipe-item:hover{
    transform: translateY(-8px);
}

.recipe-item img{
    max-width: 100%;
    border-radius: 12px 0px 0px 12px;
}

.recipe-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.recipe-info h2{
    font-size: 25px;
   text-transform: capitalize;
    font-weight: bold;
    color: rgb(231, 108, 26);
}

.recipe-info p{
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.75;
}

.pages-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pages-div span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    background: rgb(238, 115, 33);
    font-size: 20px;
    border-radius: 4px;
}

.pages-div span.active{
    background: rgb(163, 69, 6);
}



.loader-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
}

.loader-container.hide{
    display: none;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 20px;
  position: relative;
  text-indent: -9999em;
  border: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #e47105;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  background: rgba(250, 240, 221, 0.822);
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



