@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root{
    --appetizers-color: rgb(255, 120, 120);
    --salads-color: rgb(255, 120, 120);
    --entrees-color: rgb(255, 120, 120);
    --desserts-color: rgb(255, 120, 120);
    --primary-color: rgb(223, 93, 7);

}

.heeader{
    height: 75vh;
    background: url('https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center/cover;
}


html{
    scroll-behavior: smooth;
}

:root{
    font-size: 16px;
    --dark-color: rgb(34, 24, 24);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Kaisei HarunoUmi', serif;*/
    font-family: 'Cabin', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    position: relative;
    background: url("https://www.designyourway.net/blog/wp-content/uploads/2019/09/Seamless-wood-pattern-01.jpg");
    background: rgb(253, 249, 249);
    font-size: 14px;
}



.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    box-shadow:  -5px 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px 10%;
    z-index: 999;
}

.logo{
    height: 80px;
    width: auto;
}





.search-container{
    width: 500px;
    position: relative;
}

.search-container input{
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border: none;
}

.search-container > *{
    width: 100%;
}

.search-list{
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 999;
    
}


.search-item{
    background: white;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    padding-left: 10%;
    display: none;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    color: rgb(39, 39, 39);
}


.search-item.show{
    display: flex;
}


.search-result-image{
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 1rem;
}

nav i{
    font-size: 30px;
    color: rgb(163, 97, 97);
}

.favorites-section{
    position: relative;
}

.favorites-list{
    position: absolute;
    top: 100%;
    left: 0%;
}


/*recipe section*/
.whole-container{
    max-width: 90%;
    min-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5em 0;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    z-index: 50;
    margin-bottom: 20px;
}

.category-slider{
    position: absolute;
    left: 0;
    bottom: -20px;
}

.menu-options{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-bottom: 40px;
    position: relative;
    border-bottom: 1px solid rgb(236, 236, 236);
   
}

.menu-option{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
}



.menu-option.active{
    background: rgb(241, 114, 9);
    color: white;
    transition: 0.3s;
}





.menu-option h4{
  
    z-index: 99;
    text-transform: uppercase;
    font-weight: lighter;
}





/* recipe section */

.menu-grid{
    background: rgb(255, 255, 255);
    max-width: 90%;
    min-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
    padding: 0;
    justify-content: center;
}

img{
    display: block;
}

/*.recipe-item{
    max-width: 100%;
    display: grid;
    grid-template-columns: 160px auto;
    color: rgb(34, 24, 24);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgb(192, 192, 192);
    background: rgb(255, 253, 249);
    cursor: pointer;
    transition: transform 0.5s, border 0.3s;
}*/

.recipe-item:hover{
    transform: translateY(-8px);
}

.recipe-item img{
    max-width: 100%;
    border-radius: 12px 0px 0px 12px;
}

.recipe-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.recipe-info h2{
    font-size: 25px;
   text-transform: capitalize;
    font-weight: bold;
    color: rgb(223, 93, 7);
}

.recipe-info p{
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.75;
}

@media(max-width: 1280px){
.recipe-item{
    grid-template-columns: 160px auto;
}

.recipe-info{
    padding: 0 30px;
}

.recipe-info h2{
    font-size: 22px;
}

.recipe-info p{
    font-size: 14px;
    line-height: 1.75;
}
    
}

/*@media(max-width: 1280px){
    .recipe-item{
        grid-template-columns: 150px auto;
    }
    
    .recipe-info{
        padding: 0 30px;
    }
    
    .recipe-info h2{
        font-size: 18px;
    }
    
    .recipe-info p{
        font-size: 12px;
        line-height: 1.5;
    }
        
}*/
    

/*dynamic coloring of items*/




/*selected section */

.selected-recipe{
    max-width: 80%;
    min-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 50px 0;
}


.steps.active{
    display: flex;
    flex-direction: column;
}

.selected-recipe i{
    color: rgb(241, 114, 9);
}

/*header*/

.selected-recipe-header > *{
    margin-bottom: 10px;
}

.selected-recipe-title{
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
}

.selected-recipe .recipe-ratings i{
    color: rgb(241, 167, 9);
}

.basic-info{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.basic-info-item{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.basic-info-item i{
    margin-right: 5px;
}

/*selected-recipe-info*/
.selected-recipe-info{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 70px 1.25fr 1fr;
    column-gap: 10px;
    margin-left: 10px;
}


.save-print-share{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.sps-item{
    border: 2px solid rgb(241, 114, 9);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-bottom: 8px;
    transition: background 0.5s;
    cursor: pointer;
}



.sps-item:hover{
    background: rgb(241, 114, 9);
    color: white;
}

.sps-item:hover.sps-item i{
    color: white;
}

.selected-recipe-img{
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}



.selected-recipe-ingredients{
   padding-left: 20px;
}

.ingredients-list{
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.ingredients-list li{
    margin-bottom: 6px;
    font-size: 1rem;
    padding: 0 10px !important;
    display: flex;
    align-items: center;
}

.ingredients-list li .step-number{
    position: static;
}


/*steps section*/

.steps{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
   
}

.steps h1{
    margin-bottom: 30px;
}

.ingredients-list li, .recipe-steps li{
    margin-bottom: 30px;
    padding: 10px;
    position: relative;
    background: rgb(250, 248, 241);

}

.ingredients-list li{
    background: transparent;
}

.step-number{
    position: absolute;
    top: -18px;
    left: -18px;
    margin-right: 10px;
    border-radius: 50%;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    background: rgb(241, 114, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media(max-width: 1200px){
    .categories-grid{
        grid-template-columns: repeat(3, 1fr) !important;
    }

    /*index*/
    .recipe-info h2{
        font-size: 18px !important;
    }
    
    .recipe-info p{
        font-size: 12px !important;
    }
}

@media(max-width: 992px){
    .trending-grid, .category-recipe-grid{
        grid-template-columns: 1fr !important;
    }

    .recipe-info h2{
        font-size: 28px !important;
    }
    
    .recipe-info p{
        font-size: 16px !important;
    }

    .selected-recipe-info{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .save-print-share{
        flex-direction: row;
    }

    .sps-item{
        margin-right: 10px;
    }

    .selected-recipe-ingredients{
        padding-left: 0px;
    }

    /*index.html*/
    .categories-grid{
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media(max-width: 768px){
   
    .trending-grid, .category-recipe-grid{
        grid-template-columns: 1fr !important;
    }
}

@media(max-width: 600px){
    .categories-grid{
        grid-template-columns: 1fr !important;
    }

    .recipe-item{
        grid-template-columns: 130px auto;
    }

    .recipe-info h2{
        font-size: 22px !important;
    }
    
    .recipe-info p{
        font-size: 12px !important;
    }
}